<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/welcome}">WheelerManager</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" data-toggle="dropdown"
					class="dropdown-toggle">Employees<span class="sr-only"></span></a>
					<ul class="dropdown-menu" id="employees-menu">
						<li><a th:href="@{/register-employee}"> <span
								class="glyphicon glyphicon-plus"></span> Add
						</a></li>
						<li><a th:href="@{/employees/remove}"><span
								class="glyphicon glyphicon-remove"></span> Remove</a></li>
						<li><a th:href="@{/employees/edit}"> <span
								class="glyphicon glyphicon-edit"></span> Edit
						</a></li>
						<li><a th:href="@{/employees/search}"> <span
								class="glyphicon glyphicon-search"></span> Search
						</a></li>
					</ul></li>

				<li class="dropdown"><a href="#" data-toggle="dropdown"
					class="dropdown-toggle">Clients<span class="sr-only"></span></a>
					<ul class="dropdown-menu" id="clients-menu">
						<li><a th:href="@{/client/add}"><span
								class="glyphicon glyphicon-plus"></span> Add</a></li>
						<li><a th:href="@{/client/remove}"><span
								class="glyphicon glyphicon-remove"></span> Remove</a></li>
						<li><a th:href="@{/client/edit}"> <span
								class="glyphicon glyphicon-edit"></span> Edit
						</a></li>
						<li><a th:href="@{/client/search}"> <span
								class="glyphicon glyphicon-search"></span> Search
						</a></li>
					</ul></li>

				<li class="dropdown"><a href="#" data-toggle="dropdown"
					class="dropdown-toggle">Automobiles<span class="sr-only"></span></a>
					<ul class="dropdown-menu" id="automobiles-menu">
						<li><a th:href="@{/automobiles/add}"> <span
								class="glyphicon glyphicon-plus"></span> Add
						</a></li>
						<li><a th:href="@{/automobiles/remove}"> <span
								class="glyphicon glyphicon-remove"></span>Remove
						</a></li>
						<li><a th:href="@{/automobiles/search}"> <span
								class="glyphicon glyphicon-search"></span> Search
						</a></li>
					</ul></li>

				<li class="dropdown"><a href="#" data-toggle="dropdown"
					class="dropdown-toggle">Sales<span class="sr-only"></span></a>
					<ul class="dropdown-menu" id="sales-menu">
						<li><a th:href="@{/sales/newSale}"> <span
								class="glyphicon glyphicon-asterisk"></span> New
						</a></li>
					</ul></li>

				<li class="dropdown"><a href="#" data-toggle="dropdown"
					class="dropdown-toggle">Reports<span class="sr-only"></span></a>
					<ul class="dropdown-menu" id="reports-menu">
						<li><a th:href="@{/reports/employeeSales}"><span
								class="glyphicon glyphicon-usd"></span>Employee Sales</a></li>
						<li><a th:href="@{/reports/automobilesSold}"><span
								class="glyphicon glyphicon-usd"></span> Automobiles Sold</a></li>
						<li><a th:href="@{/reports/automobilesAvailable}"><span
								class="glyphicon glyphicon-thumbs-up"></span> Automobiles Available</a></li>
						<li><a th:href="@{/reports/annualSales}"><span
								class="glyphicon glyphicon-usd"></span> Annual Sales</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}"><span
						class="glyphicon glyphicon-off"></span> Logout</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>