<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/home}">WheelerManager</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" data-toggle="dropdown"
					class="dropdown-toggle">Reports<span class="sr-only"></span></a>
					<ul class="dropdown-menu" id="reports-menu">
						<li><a th:href="@{/reports/employeeSales"
							th:text="/Employee Sales/"><i class="fa fa-usd"
								aria-hidden="true"></i></a></li>
						<li><a th:href="@{/reports/automobilesSold"
							th:text="/Automobiles Sold /"><i class="fa fa-car"
								aria-hidden="true"></i></a></a></li>
						<li><a th:href="@{/reports/automobilesAvailable"
							th:text="/Automobiles Available /"><i class="fa fa-car"
								aria-hidden="true"></i></a></a></li>
						<li><a th:href="@{/reports/annualSales"
							th:text="/Automobiles Sold /"><i class="fa fa-usd"
								aria-hidden="true"></i></a></a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>