<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<link th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{css/css/style.css}" rel="stylesheet"></link>
<div th:fragment="copy">
	<div role="navigation">
		<div class="navbar navbar-inverse">
			<a href="/" class="navbar-brand">Home</a>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="room-manager">Room Manager</a></li>
					<li><a href="create-room">New Room</a></li>
					<li><a href="equipment-manager">Equipment Manager</a></li>
					<li><a href="create-equipment">New Equipment</a></li>
					<li><a href="user-manager">User Manager</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>