<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="fragments/links"></div>
<meta charset="UTF-8" />
<title>Home</title>
<link th:href="@{resources/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
	<form >
		<div>
			<center>
				<h1>Welcome to Authsec!</h1>
			</center>
		</div>
		<div sec:authentication="name"></div>
		<div sec:authorize="hasRole('ADMIN') OR hasRole('USER')"></div>
		<div>
			<center>
				<h1>Remote Authorization Service</h1>
			</center>
		</div>
				<input type="submit" value="Log out" class="btn btn-primary btn-lg btn-block" />
	</form>
	<script th:src="@{resources/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{resources/js/bootstrap.min.js}"></script>
</body>
</html>