<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
<style>
@CHARSET "UTF-8";

#outer {
	width: 100%;
	text-align: center;
}

.inner {
	display: inline-block;
}
</style>
</head>
<body>
	<!-- <div id="fb-root"></div>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=605458923179871&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  -->

	<div class="container">
		<center>
			<h1>Login</h1>
		</center>
		<br />
		<div th:if="${error} != null" th:text="${error}"></div>
		<form method="post">
			<center>
				<div class="form-group">
					<label class="form-control-label" for="inputUsername">Username</label>
					<input type="text" class="form-control form-control-danger"
						id="inputUsername" name="username" />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="inputPassword">Password</label>
					<input type="password" class="form-control form-control-danger"
						id="inputPassword" name="password" />
				</div>
				<input type="submit" class="btn btn-primary" value="Log In" />
			</center>
		</form>
		<br />

		<form>
			<div>
				<center>
					<h1>Login with other providers:</h1>
					<div class="external-login-container">
						<a class="btn facebook-btn"
							title="Log in using your Facebook account"> <i
							class="fa fa-facebook"></i> &nbsp;Login with Facebook
						</a> <a class="btn google-btn"
							href="/login"
							title="Log in using your Google account"> <i
							class="fa fa-google-plus"></i> &nbsp;Login with Google
						</a>
					</div>

				</center>
			</div>
		</form>
	</div>
	<!-- <script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : '605458923179871',
				cookie : true,
				xfbml : true,
				version : 'v2.12'
			});

			FB.AppEvents.logPageView();

		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		

		{
		    status: 'connected',
		    authResponse: {
		        accessToken: '...',
		        expiresIn:'...',
		        signedRequest:'...',
		        userID:'...'
		    }
		}
		
		function checkLoginState() {
			  FB.getLoginStatus(function(response) {
			    statusChangeCallback(response);
			  });
			}
	</script> -->
	<script th:src="@{/jquery/jquery.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>