<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="fragments/links"></div>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
	<div th:replace="fragments/userHeader"></div>
    
    <script th:src="@{resources/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{resources/js/bootstrap.min.js}"></script>
</body>
</html>